@import '../../variables.scss';

.contacto {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow-y: auto;
}

.contacto-contenido {
  max-width: 1100px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
}

.contacto-c {
  width: 100%;
  animation: zoomIn;
  animation-duration: 700ms;
}

.title-contacto {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.contacto-content {
  display: grid;
  grid-template-columns: 27% 70%;
}

.left-side-contacto {
  margin-right: 3%;
  animation: backInDown;
  animation-duration: 500ms;
}

.right-side-contacto {
  padding-left: 20px;
  animation: backInUp;
  animation-duration: 500ms;
}

.info-item-contact {
  border-radius: 10px;
  background-color: #333333;
  text-align: center;
  padding: 10px;
  border: 2px solid #565656;
  margin-top: 10px;

  & img {
    height: 80px;
    width: 60px;
  }

  & div {
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  }
}

.ayuda-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.fields-conteiner {
 
  margin-top: 30px;
}

.left-fields {

  & input {
    width: 95%;
    max-width: 95%;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    border: 2px solid #333333;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    &::placeholder {
      color: black;
    }
  }
}

.right-fields {
  margin-top: 25px;

  & textarea {
    width: 94.5%;
    height: 85%;
    border: 2px solid #333333;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    &::placeholder {
      color: black;
    }
  }
}

.c-b-c {
    display: inline-flex;
    justify-content: flex-end;
    width: 97%;
}

.send-button-contact {
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  background-color: #0b9e5c;
  width: fit-content;
  padding: 10px;
  color: white;
  margin-top: 30px;
  user-select: none;
}

@media (max-width: $breakpointscreen) {
  .title-contacto {
    font-size: 2.5rem;
  }

  .left-side-contacto {
    margin-right: 0;
  }

  .right-side-contacto {
    margin-top: 40px;
    padding-left: 0;
    margin-bottom: 50px;
  }

  .contacto-content {
    grid-template-columns: 100%;
  }

  .fields-conteiner {
    grid-template-columns: 100%;
    margin-top: 10px;
  }

  .left-fields {
    margin-right: 0;
  }

  .right-fields {
    margin-top: 10px;
    width: 96%;
  }

  .c-b-c {
      width: 100%;
  }
}
