@keyframes transition-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carrousel-c {
  background-color: #1a242f;
  padding-top: 20px;
}

.carrousel {
  height: calc(100vh * 0.6);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.carrousel-image {
  height: 100%;
  max-width: calc(100vw);
  animation-name: transition-animation;
  animation-duration: 1000ms;
}

.arrow {
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 60px;
  width: 50px;

  & img {
    height: 100%;
    width: 100%;
    display: none;
  }

  &:hover {
    background: rgba(0,0,0,0.5);
    & img {
      display: block;
    }
  }
}

.previus {
  @extend .arrow;
  left: 0;
}

.next {
  @extend .arrow;
  right: 0;
}
