@import '../../variables.scss';


.navbar {
  width: 100%;
  height: 75px;
  display: inline-flex;
  align-items: center;

  justify-content: space-around;
  background-color: #1a242f;
  border-bottom: 1px solid #525252;
}

.menu-icon {
  display: none;
  height: 40px;
  width: 40px;
  align-self: center;
  margin-left: 20px;
  

  & img {
    height: 100%;
    width: 100%;
  }
}

.title-nav {
  color: white;
  font-size: 2.5rem;
  font-family: Miso;
}

.items-nav {
  display: inline-flex;
  height: 100%;
  align-items: center;

  & ul {
    display: inline-flex;
    list-style: none;

    & div {
      text-decoration: none;
      margin-right: 20px;
      color: black;
      font-size: 1.3rem;
      font-family: Miso;
      color: white;
      user-select: none;

      &:hover {
        color: grey;
      }
    }
  }
}


@media (max-width: $breakpointscreen) {
  .navbar {
    justify-content: start;
  }

  .menu-icon {
    display: block;
  }

  .title-nav {
    margin-left: 50px;
  }

  .items-nav {
    display: none;
  }

  .drawer {
    display: block;
  }
}

@media (max-width:310px) {
  .title-nav {
    font-size: 2rem;
  }
}
