@import '../../variables.scss';

.conocimientos-c {
  margin-top: 40px;
  width: 100%;
  animation: fadeInLeft;
  animation-duration: 700ms;
}

.title-c {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.c-content {
    display: grid;
    grid-template-columns: 48% 48%;
}


@media (max-width: $breakpointscreen) {

    .title-c {
        font-size: 2.5rem;
    }

    .c-content {
        grid-template-columns: 100%;
    }
}
